$red:red;
$black:black;
$withBlock:inline-block;
$btnFullWidth:100%;
$pullLeft:left;



/* Menu List */
$itemWidth:14.28571428571429%;

@mixin listItem {
    width:$itemWidth;
    float: $pullLeft;
}


@mixin icon {
    padding:0 0 0 10px;
    font-size: 20px;   
    cursor: pointer; 
    float: right;
}
@mixin div {
    border-bottom:1px solid #eeeeee;
    padding: 10px;

}
@mixin divHover {
    background-color: #eeeeee;
}

.red {
    color: $red;
}
.black {
    color: $black;
}
i {
    @include icon;
}
.div{
    @include div;
}
.div:hover{
    @include divHover;
}
.currency-convertor { display: $withBlock;}
.currency-convertor .item { text-align: left !important;}
.currency-convertor .item span { text-align: left !important;}
.btn {width:$btnFullWidth;}

/* Menu List */
.menu-list .item { 
    @include listItem;
}