<div class="container">
    <div class="row">

        <div class="col-12 ">
            <div [ngSwitch]="foodCategory">
                <div *ngSwitchCase="'starter'">Starter</div>
                <div *ngSwitchCase="'chicken'">Chicken</div>
                <div *ngSwitchCase="'paneer'">Paneer</div>
                <div *ngSwitchCase="'mutton'">Mutton</div>
                <div *ngSwitchCase="'egg'">Egg</div>
                <div *ngSwitchCase="'dessert'">Dessert</div>
                <div *ngSwitchDefault>Drink</div>
            </div>
    
        </div>

        <div class="col-12">
            <ul class="nav tabs">
                <li class="nav-item"><a class="nav-link active" href="#" (click)="foodCategory = 'starter'" [ngClass]="{'active': foodCategory == 'starter' }">Starter</a></li>
                <li class="nav-item"><a class="nav-link" href="#" (click)="foodCategory = 'chicken'" [ngClass]="{ 'active': foodCategory == 'chicken' }">Chicken</a></li>
                <li class="nav-item"><a class="nav-link" href="#" (click)="foodCategory = 'paneer'" [ngClass]="{ 'active': foodCategory == 'paneer' }">Paneer</a></li>
                <li class="nav-item"><a class="nav-link" href="#" (click)="foodCategory = 'mutton'" [ngClass]="{ 'active': foodCategory == 'mutton' }">Mutton</a></li>
                <li class="nav-item"><a class="nav-link" href="#" (click)="foodCategory = 'egg'" [ngClass]="{ 'active': foodCategory == 'egg' }">Egg</a></li>
                <li class="nav-item"><a class="nav-link" href="#" (click)="foodCategory = 'dessert'" [ngClass]="{ 'active': foodCategory == 'dessert' }">Dessert</a></li>
                <li class="nav-item"><a class="nav-link" href="#" (click)="foodCategory = 'drink'" [ngClass]="{ 'active': foodCategory == 'drink' }">Drinks</a></li>
              </ul>
        </div>
        
        <div (click)="addProduct()">Add product</div>

        <div class="col-3" *ngFor="let fav of favoriteList">
            <div class="product-list">
                <div class="list">
                    <div class="img">
                        <a (click)="goToProduct(starter.id)">
                            <img src="{{starter.src}}" class="img-fluid">
                        </a>
                    </div>
                    <h2 (click)="goToProduct(starter.id)">{{starter.name}}</h2>
                    <p>{{starter.description}}</p>
                    <ul class="feature">
                        <li>
                            <span class="category">Category</span>
                            <span>{{starter.category}}</span>
                        </li>
                        <li>
                            <span class="availibility">Availibility</span>
                            <span>{{starter.availibility}}</span>
                        </li>
                        <li>
                            <span class="weight">Weight</span>
                            <span>{{starter.weight}}</span>
                        </li>
                        <li>
                            <span class="vegetarian">Vegetarian</span>
                            <span>{{starter.isVeg}}</span>
                        </li>
                    </ul>
                    <div class="cust-review">
                        <span>Customer Review</span>
                        <span class="rating">
                            <span>*</span>
                            <span>*</span>
                            <span>*</span>
                            <span>*</span>
                            <span>*</span>
                        </span>
                    </div>
                    <div class="cust-review">
                        <span>{{starter.price}}</span>
                        <span class="action">
                            <span><a href="#"><i class="fa fa-heart"></i></a></span>
                            <span><a href="#"><i class="fa fa-shopping-cart"></i></a></span>
                        </span>
                    </div>
                    <div class="butttons">
                        <a class="btn btn-lg" (click)="deleteProduct(starter.id)"><i class="fa fa-trash"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product -->
        <div class="col-12" [ngSwitch]="foodCategory">

            <div class="row" *ngSwitchCase="'starter'">
                <div class="col-3" *ngFor="let starter of starters">
                    <div class="product-list">
                        <div class="list">
                            <div class="img">
                                <a (click)="goToProduct(starter.id)">
                                    <img src="{{starter.src}}" class="img-fluid">
                                </a>
                            </div>
                            <h2 (click)="goToProduct(starter.id)">{{starter.name}}</h2>
                            <p>{{starter.description}}</p>
                            <ul class="feature">
                                <li>
                                    <span class="category">Category</span>
                                    <span>{{starter.category}}</span>
                                </li>
                                <li>
                                    <span class="availibility">Availibility</span>
                                    <span>{{starter.availibility}}</span>
                                </li>
                                <li>
                                    <span class="weight">Weight</span>
                                    <span>{{starter.weight}}</span>
                                </li>
                                <li>
                                    <span class="vegetarian">Vegetarian</span>
                                    <span>{{starter.isVeg}}</span>
                                </li>
                            </ul>
                            <div class="cust-review">
                                <span>Customer Review</span>
                                <span class="rating">
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                </span>
                            </div>
                            <div class="cust-review">
                                <span>{{starter.price}}</span>
                                <span class="action">
                                    <span><a href="#" (click)="addFavoriteList(starter.id)"><i class="fa fa-heart"></i></a></span>
                                    <span><a href="#"><i class="fa fa-shopping-cart"></i></a></span>
                                </span>
                            </div>
                            <div class="butttons">
                                <a class="btn btn-lg" (click)="deleteProduct(starter.id)"><i class="fa fa-trash"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" *ngSwitchCase="'chicken'">
                <div class="col-3" *ngFor="let chicken of chickens">
                    <div class="product-list">
                        <div class="list">
                            <div class="img">
                                <img src="{{chicken.src}}" class="img-fluid">
                            </div>
                            <h2>{{chicken.name}}</h2>
                            <p>{{chicken.description}}</p>
                            <ul class="feature">
                                <li>
                                    <span class="category">Category</span>
                                    <span>{{chicken.category}}</span>
                                </li>
                                <li>
                                    <span class="availibility">Availibility</span>
                                    <span>{{chicken.availibility}}</span>
                                </li>
                                <li>
                                    <span class="weight">Weight</span>
                                    <span>{{chicken.weight}}</span>
                                </li>
                                <li>
                                    <span class="vegetarian">Vegetarian</span>
                                    <span>{{chicken.isVeg}}</span>
                                </li>
                            </ul>
                            <div class="cust-review">
                                <span>Customer Review</span>
                                <span class="rating">
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                </span>
                            </div>
                            <div class="cust-review">
                                <span>{{chicken.price}}</span>
                                <span class="action">
                                    <span><a href="#"><i class="fa fa-heart"></i></a></span>
                                    <span><a href="#"><i class="fa fa-shopping-cart"></i></a></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" *ngSwitchCase="'paneer'">
                <div class="col-3" *ngFor="let paneer of paneers">
                    <div class="product-list">
                        <div class="list">
                            <div class="img">
                                <img src="{{paneer.src}}" class="img-fluid">
                            </div>
                            <h2>{{paneer.name}}</h2>
                            <p>{{paneer.description}}</p>
                            <ul class="feature">
                                <li>
                                    <span class="category">Category</span>
                                    <span>{{paneer.category}}</span>
                                </li>
                                <li>
                                    <span class="availibility">Availibility</span>
                                    <span>{{paneer.availibility}}</span>
                                </li>
                                <li>
                                    <span class="weight">Weight</span>
                                    <span>{{paneer.weight}}</span>
                                </li>
                                <li>
                                    <span class="vegetarian">Vegetarian</span>
                                    <span>{{paneer.isVeg}}</span>
                                </li>
                            </ul>
                            <div class="cust-review">
                                <span>Customer Review</span>
                                <span class="rating">
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                </span>
                            </div>
                            <div class="cust-review">
                                <span>{{paneer.price}}</span>
                                <span class="action">
                                    <span><a href="#"><i class="fa fa-heart"></i></a></span>
                                    <span><a href="#"><i class="fa fa-shopping-cart"></i></a></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!--  
        <div class="col-12">
            <div class="row" >
                <div class="col-3">
                    <div class="product-list">
                        <div class="list">
                            <div class="img">
                                <img src="assets/res-1.jpg" class="img-fluid">
                            </div>
                            <h2>Snack Set</h2>
                            <p>Butter, cream, honey, salty cottage cheese, white cheese.</p>
                            <ul class="feature">
                                <li>
                                    <span class="category">Category</span>
                                    <span>Breakfast</span>
                                </li>
                                <li>
                                    <span class="availibility">Availibility</span>
                                    <span>Available</span>
                                </li>
                                <li>
                                    <span class="weight">Weight</span>
                                    <span>160 gm</span>
                                </li>
                                <li>
                                    <span class="vegetarian">Vegetarian</span>
                                    <span>No</span>
                                </li>
                            </ul>
                            <div class="cust-review">
                                <span>Customer Review</span>
                                <span class="rating">
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                </span>
                            </div>
                            <div class="cust-review">
                                <span>$8.20</span>
                                <span class="action">
                                    <span><a href="#"><i class="fa fa-heart"></i></a></span>
                                    <span><a href="#"><i class="fa fa-shopping-cart"></i></a></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-list">
                        <div class="list">
                            <div class="img">
                                <img src="assets/res-1.jpg" class="img-fluid">
                            </div>
                            <h2>Snack Set</h2>
                            <p>Butter, cream, honey, salty cottage cheese, white cheese.</p>
                            <ul class="feature">
                                <li>
                                    <span class="category">Category</span>
                                    <span>Breakfast</span>
                                </li>
                                <li>
                                    <span class="availibility">Availibility</span>
                                    <span>Available</span>
                                </li>
                                <li>
                                    <span class="weight">Weight</span>
                                    <span>160 gm</span>
                                </li>
                                <li>
                                    <span class="vegetarian">Vegetarian</span>
                                    <span>No</span>
                                </li>
                            </ul>
                            <div class="cust-review">
                                <span>Customer Review</span>
                                <span class="rating">
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                </span>
                            </div>
                            <div class="cust-review">
                                <span>$8.20</span>
                                <span class="action">
                                    <span><a href="#"><i class="fa fa-heart"></i></a></span>
                                    <span><a href="#"><i class="fa fa-shopping-cart"></i></a></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-list">
                        <div class="list">
                            <div class="img">
                                <img src="assets/res-1.jpg" class="img-fluid">
                            </div>
                            <h2>Snack Set</h2>
                            <p>Butter, cream, honey, salty cottage cheese, white cheese.</p>
                            <ul class="feature">
                                <li>
                                    <span class="category">Category</span>
                                    <span>Breakfast</span>
                                </li>
                                <li>
                                    <span class="availibility">Availibility</span>
                                    <span>Available</span>
                                </li>
                                <li>
                                    <span class="weight">Weight</span>
                                    <span>160 gm</span>
                                </li>
                                <li>
                                    <span class="vegetarian">Vegetarian</span>
                                    <span>No</span>
                                </li>
                            </ul>
                            <div class="cust-review">
                                <span>Customer Review</span>
                                <span class="rating">
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                </span>
                            </div>
                            <div class="cust-review">
                                <span>$8.20</span>
                                <span class="action">
                                    <span><a href="#"><i class="fa fa-heart"></i></a></span>
                                    <span><a href="#"><i class="fa fa-shopping-cart"></i></a></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="product-list">
                        <div class="list">
                            <div class="img">
                                <img src="assets/res-1.jpg" class="img-fluid">
                            </div>
                            <h2>Snack Set</h2>
                            <p>Butter, cream, honey, salty cottage cheese, white cheese.</p>
                            <ul class="feature">
                                <li>
                                    <span class="category">Category</span>
                                    <span>Breakfast</span>
                                </li>
                                <li>
                                    <span class="availibility">Availibility</span>
                                    <span>Available</span>
                                </li>
                                <li>
                                    <span class="weight">Weight</span>
                                    <span>160 gm</span>
                                </li>
                                <li>
                                    <span class="vegetarian">Vegetarian</span>
                                    <span>No</span>
                                </li>
                            </ul>
                            <div class="cust-review">
                                <span>Customer Review</span>
                                <span class="rating">
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                    <span>*</span>
                                </span>
                            </div>
                            <div class="cust-review">
                                <span>$8.20</span>
                                <span class="action">
                                    <span><a href="#"><i class="fa fa-heart"></i></a></span>
                                    <span><a href="#"><i class="fa fa-shopping-cart"></i></a></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
-->
        

    </div>
</div>