$colorMaroon:#c62828;
.tabs li a {
    padding: 10px 20px;
    color: #222222;
}

.tabs {
    background-color: #ffffff;
    box-shadow:0 0 5px rgba(0,0,0,0.3) !important;
    margin:0 0 20px;
}

.tabs .nav-item .active {
    background-color: $colorMaroon;
    color: #ffffff;
}
.active { color:$colorMaroon}